/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
  Defaults
*****************************************/
h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  color: #868686;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

main {
  position: relative;
  height: 100vh;
	background-image: radial-gradient(rgba(136, 139, 140, .4), 
		rgba(136, 139, 140, .6)), 
		url('../images/wood.jpg');
	background-size: cover;
}

::placeholder {
  color: #000;
}

.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  background-color: #FFF;
  border-radius: 20px;
	text-align: center;
}

.form-content > div:first-child {
	border-radius: 10px 10px 0 0;
}

.cart-item {
	min-height: 375px;
	background-color: #F6F6F6;
	background-image: url('../images/adidas_full.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: right;
}

.cart-item:after {
  background: linear-gradient(-135deg, #e7e7e7 16px, transparent 0), linear-gradient(135deg, #e7e7e7 16px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
}

.cart-item > div {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.cart-item > div > div:first-child {
	color: #868686;
}

.cc-form input {
	padding-top: 15px;
	padding-bottom: 10px;
	width: 100%;
	color: #000;
}

.inner-container {
	text-align: left;
	width: 80%;
	color: #B6B6B6;
	padding: 30px 0;
	margin: 0 auto;
}

.inner-container label {
	display: block;
	padding-top: 20px;
}

.form-field {
	border: none;
	border-bottom: 2px solid #E1E1E1;
	background-color: transparent;
}

.form-field textarea:focus, input:focus {
    outline: 0;
}

.price span {
  font-size: 22px;
  font-weight: 600;
}

.cc-form .confirm {
	border: none;
	padding: 25px;
	text-decoration: none;
	color: #EBF7FB;
	border-radius: 0 0 20px 20px;
	background-color: #00B6D5;
	width: 100%;
	text-transform: uppercase;
}

.confirm:hover {
	background-color: #0696ae;
}

/****************************************
  Components
*****************************************/








